# Project exclude paths
/.bsp/
/.bloop/
/out/
/.idea/
/.run/
/.metals/
/.vscode/
/webeditor/.parcel-cache/
/webeditor/dist/
/webeditor/node_modules/
/webeditor/out/
package-lock.json
settings.json
*.iml