@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.button {
    display: inline-block;
    background-color: #1690c2;
    color: white;
    padding: 15px 32px;
    border: 0;
    text-align: center;
    text-decoration: none;
    font: 16px "Lato", sans-serif;
    height: 100%;
}

.button:hover {
    background-color: #4bc6ff;
    color: white;
}

.noborder {
    border: none;
    margin: 0;
}

#fulldiv {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
}

#toolbar {
    background-color: #1690c2;
    width: 100%;
    height: 9%;
    max-height: 60px;
    resize: none;
    display: flex;
    flex-direction: row;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#socialDiv {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    height: 100%;
}

#socialLink {
    display: flex;
    flex-basis: 0;
    flex-direction: row-reverse;
    height: 100%;
    width: fit-content;
    color: black;
    text-decoration: none;
}

#socialLink:hover {
    color: white;
    filter: brightness(0%) saturate(100%) invert();
}

.socialLogo {
    object-fit: contain;
    padding: 5px;
}

.socialText {
    display: inline-block;
    padding: 5px;
    font: 16px "Lato", sans-serif;
    text-align: center;
    height: "50%";
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

#editor {
    display: flex;
    flex: 0;
    min-height: 66%;
    background-color: #EEEEEE;
    overflow-y: auto;
    resize: none;
    font: 16px "Fira Code", monospace;
}

#line-index {
    width: 3ch;
    text-align: end;
    white-space: pre-wrap;
    padding-right: 1ch;
    padding-top: 4px;
    line-height: 1.9ch;
}

#editor-code {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    border: none;
    resize: none;
    white-space: pre-wrap;
    outline: none;
    line-height: 1.9ch;
    padding-top: 4px;
}


#console {
    display: flex;
    flex: 0;
    min-height: 34%;
    background-color: #002b36;
    color: white;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: auto;
}